.cardContainer {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.add_idea_btn {
  background: transparent;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.snack_bar {
  position:absolute;
  bottom:0px;
  right:25%;
  left:50%;
  visibility: hidden;
  z-index: 1;
}
.snack_bar_show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  position:absolute;
  bottom:30px;
  right:25%;
  left:50%;
  z-index: 1;
}

//* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}