.cardContainer {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.card {
  display: flex;
  flex-direction: column;
  background: blue;
  width: 150px;
  height: 150px;
  margin: 10px;
}