.cardContainer {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.add_idea_btn {
  background: transparent;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: center;
}